{:output {
    :analysis {
        :var-definition true
        :namespace-definitions false
        :namespace-usages false
        :var-usages {
            :private true
            :macro true
            :meta true
            :dispatch-val-str true
        }}
    :format :json}}